.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;

    .contentWrapper {
        flex-direction: row;
        display: flex;
        margin-top: 3%;
        padding-bottom: 5%;
        padding-right: 10%;

        .infoWrapper {
            width: 100%;
            padding-left: 10%;
            padding-right: 10%;
        }

        .images {
            width: 40%;
            padding-top: 2%;
        }
    }
}