.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;

    .contentWrapper {
        flex-direction: row;
        display: flex;
        margin-top: 3%;
        padding-bottom: 5%;
        padding-right: 10%;

        .infoWrapper {
            width: 100%;
            padding-left: 10%;
            padding-right: 10%;

            .eachInfo {

                >h1 {
                    font-family: Merri-Regular;
                    letter-spacing: 0.02em;
                    font-size: 2vw;
                    color: #14364B;
                    text-align: left
                }
            
                >p {
                    font-family: Inter-Light;
                    letter-spacing: 0.02em;
                    font-size: 1.2vw;
                    color: #14364B;
                    text-align: left
                }
            }
        }

        .images {
            width: 40%;
            padding-top: 2%;
        }
    }
}