.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    

    >h1 {
        font-family: Merri-Regular;
        letter-spacing: 0.02em;
        font-size: 2vw;
        color: #14364B;
        text-align: left
    }

    .contentWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 3%;
        padding-left: 10%;
        padding-right: 10%;
    }
    
}
