.eachInfo {

    >h1 {
        font-family: Merri-Regular;
        letter-spacing: 0.02em;
        font-size: 2vw;
        color: #14364B;
        text-align: left
    }

    >p {
        font-family: Inter-Light;
        letter-spacing: 0.02em;
        font-size: 1.2vw;
        color: #14364B;
        text-align: left
    }
}