.wrapper {
    display: flex;
    flex-direction: column;
    height: 37vw;
    width: 28vw;
    background-color: white;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
    align-items: center;

    >h1 {
        font-family: Merri-Bold;
        color: #14364B;
        font-size: 1.4vw;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    >p {
        font-family: Inter-Regular;
        width: 80%;
        font-size: 1.3vw;
    }
}

.listItem {
    font-family: Inter-Regular;
        width: 100%;
        font-size: 1.2vw;
}

.line {
    height: 2px;
    width: 80%;
    background-color: #14364B;
    color: #14364B;
    margin-bottom: 5px;
}

.spacer {
    height: 10%
}